@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

$Ubuntu: "Ubuntu", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Ubuntu:wght@300&display=swap');

$PTSans: 'PT Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=PT+Sans:ital,wght@1,700&family=Ubuntu:wght@300&display=swap');

$MavenPro: 'Maven Pro', sans-serif;