/* dispositivos celulares */
@media (max-width: 375px) {
  .billetes {
    max-width: 100vw;
    height: 156vw;
  }

  .btnHeader {
    text-decoration: none;
    text-transform: capitalize;
    color: $coloTexto;
    border: 0px;
  }

  .nav-item {
    a {
      font-size: 9vw;

      &:hover {
        text-decoration: none;
        color: $coloTexto !important;
      }
    }

    .dropdown-item {
      font-size: 5vw;
    }
  }

  .btnSlider {
    display: block;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "secFooter" "divCopyRight";
  }

  .secFooter {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "f1" "f2" "f3" "f4" "f5";
    grid-area: secFooter;
  }

  .f1 {
    grid-area: f1;
  }

  .f2 {
    grid-area: f2;
  }

  .f3 {
    grid-area: f3;
  }

  .f4 {
    grid-area: f4;
  }

  .f5 {
    grid-area: f5;
  }

  .divCopyRight {
    grid-area: divCopyRight;
    padding-left: 30px;
  }

  .f1,
  .f2,
  .f3,
  .f4,
  .f5 {
    width: 100%;
  }

  .accordion-button {
    background-color: $coloTexto !important;
    color: white !important;
  }

  .accordion-item {
    background-color: $coloTexto !important;
    color: white !important;
    border: 0px;
  }

  .accordion-body {
    background-color: $coloTexto !important;
    color: white !important;
  }

  .accordion-button:focus {
    border-color: $coloTexto !important;
    box-shadow: none;
  }

  .tituloPqe,
  .tituloAlianzas,
  .tituloproductos,
  .tituloContacto {
    font-size: 17vw;
    text-align: center;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  /*mobile producto*/

  .contProduct {
    flex-direction: column;
    padding: 5px;
  }

  .contentTotalProduct {
    @include sizes(10vw, 10vw);
  }

  .commentProduct {
    font-size: 17px;
  }

  .productosBtn {
    font-size: 22px;
  }

  .imagenprod {
    margin-left: 25vw;
    max-width: 100px;
    margin-top: 3vw;
  }

  /*mobile contacto*/

  .mainContain {
    width: 100vw;
  }

  input,
  textarea {
    background-color: #fbfbfb;
    width: 80vw;
  }

  /*por que elegirnos mobile*/

  .textoPqe {
    @include sizes(2vw, 1vw);
  }

  .textMobileNo {
    display: none;
  }

  .nuestrasAlianzasBtn,
  .productosBtn {
    font-size: 7vw;
  }

  /* alianzas */

  .textoAlianza {
    display: none;
  }

  .img-thumbnail {
    margin-top: 4vw;
  }
  .textoPqehistoria, .textoPqevision{
    font-size: 5vw;
  }
}
