.textoPqehistoria,
.textoPqevision {
  font-size: 2vw;
}
.scrollspy-example {
  height: 30vw;
  margin-top: 0.5rem;
  overflow: auto;
}
.lista{
  font-family: $PTSans;
}
.visionImgAbajo, .viosionImgArriba{
  margin-top: 4vw;
}